body {
        background-image: url("https://www.citysegwaytours.com/uploads/3136/DC%20night_hero@2x.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }


html {
      height: 100%;
      }


#EETitle {
          color: white;
          }