/*
html     
{
    height: 100%;
}
*/

div.jumbotron
{
    text-align: center;
    padding: 15px;
    margin: 0px;
}

div.candidate_jumbotron
{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}

div.candidate_jumbotron p
{
    padding: 5px;
    margin: 0px;
}

div.search_jumbotron
{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}

div.row
{
    text-align: center;
}

div.candidate_image 
{
    height: 175px;
    width: 175px;
    margin-right: 5px;
    margin-bottom: 5px;
}

img.image 
{
    display: block;
    height: inherit;
    width: inherit;
}

.overlay 
{
    position: relative;
    top: -175px;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: .5s ease;
    background-color: cornflowerblue;
}

.candidate_image:hover .overlay 
{
    opacity: 1;
}

.text 
{
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#row_one
{
    margin-left: 55px;
}

#row_two
{
    margin-left: 55px;
}

#row_three
{
    margin-left: 143px;
}

div.searchbar
{
    padding-bottom: 10px;
}

#EETitle  
{
    color: white;
}

.container_info { 
                width:975px; 
                height:200px; 
                padding-top:50px; 
                padding-left:15px; 
                padding-right:15px; 
            } 
            #st-box { 
                float:left; 
                width:300px; 
                height:400px; 
                background: rgba(0,0,0, 0.75); 
                border:solid black; 
            } 
            #nd-box { 
                float:left; 
                width:300px; 
                height:400px; 
                background: rgba(0,0,0, 0.75); 
                border:solid black; 
                margin-left:20px; 
            } 
            #rd-box { 
                float:right; 
                width:300px; 
                height:400px; 
                background: rgba(0,0,0, 0.75); 
                border:solid black; 
            }
            p {
                color: white
              }
            

 #des {
       color: black;
      }