body 
{
        //background-image: url("https://www.citysegwaytours.com/uploads/3136/DC%20night_hero@2x.png");
        //height: 100%;
        //background-position: center;
        //background-repeat: no-repeat;
        //background-size: cover;
}


html 
{
    //height: 100%;
}


#EETitle 
{
    color: white;
}

h1
{
    font-size: 75px;
}

div.jumbotron
{
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}

div.card
{
    text-align: center;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
}

i.material-icons
{
    font-size: 125px;
    color: cornflowerblue;
}
