body {
        background-image: url("https://www.citysegwaytours.com/uploads/3136/DC%20night_hero@2x.png");
        height: 100%;
        background-position: 0px 80px;
        background-repeat: no-repeat;
        background-size: cover;
      }


html {
      height: 100%;
      }


div.jumbotron
{
    text-align: center;
    padding: 15px;
    margin: 0px;
}

div.search_jumbotron
{
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    background-color: black;
    color: white;
}

div.search_jumbotron button
{
    margin-bottom: 10px;
}
