body {
        background-image: url("https://www.citysegwaytours.com/uploads/3136/DC%20night_hero@2x.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }


html {
      height: 100%;
      }


#EETitle {
          color: white;
          }

.mapouter {
      position:relative;
      text-align:center;
      height:500px;
      width:600px;}
      .gmap_canvas {
      overflow:hidden;
      background:none!important;
      height:500px;
      width:600px;
      }