body {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }


html {
      height: 100%;
      }

div.jumbotron
{
    text-align: center;
    padding: 15px;
}

#EETitle {
          color: white;
          }